<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/Keshav2207" target="_blank">@Keshav2207</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/keshavxpatel/" target="_blank">linkedin.com/in/keshavxpatel</a></p>
<p><i class="fa fa-drupal fa-lg fa-fw"></i> <a href="https://www.drupal.org/u/keshav-patel" target="_blank">drupal.org/u/keshav-patel</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:Patelkeshav116@gmail.com" target="_blank">Patelkeshav116@gmail.com</a></p>
<p><i class="fa fa-medium fa-lg fa-fw"></i> <a href="https://medium.com/@patelxkeshav/" target="_blank">medium.com/@patelxkeshav</a></p>
<!-- <p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:6043561462" target="_blank">604-356-1462</a></p> -->
